
header {
    width: 90vw;
    max-width: 100rem;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header";
    align-items: center;
}

.header-back {
    display: none;
    height: 5rem;
    width: 100vw;
    background-color: var(--color-primary);
    opacity: 0.3;
    z-index: -1;
    position: absolute;
}

.header-logo {
    grid-area: header;
    justify-self: flex-start;
}

.img-logo {
    height: auto;
    width: 4rem;
}

.header-links {
    grid-area: header;
    justify-self: flex-end;
    display: grid;
    grid-column-gap: 2rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
    text-decoration: none;
    color: var(--color-accent);
}

.header-link:hover {
    color: var(--color-secondary);
}

.hamburger-link {
    text-decoration: none;
    color: var(--color-primary);
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-input {
    display: none;
}

.hamburger-links {
    display: none;
}

#day-night-toggle {
    grid-area: header;
    justify-self: center;
    display: none;
    align-self: center;
    height: 4rem;
    width: 8rem;
    background-image: url(../images/icons/daynight/night-toggle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 1100px) {
    .header-links {
        grid-column-gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0 2rem;
    }
    .hamburger-menu {
        grid-area: header;
        justify-self: flex-end;
        display: block;
        background: var(--color-accent);
        height: 3rem;
        width: 3rem;
        mask-image: url(../images/icons/Hamburger_icon.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        -webkit-mask-image: url(../images/icons/Hamburger_icon.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
    }
    .header-links {
        display: none;
    }
    .hamburger-menu-input:checked + header .hamburger-links + .header-logo + #day-night-toggle + .header-links + .hamburger-menu {
        mask-image: url(../images/icons/x.svg);
        -webkit-mask-image: url(../images/icons/x.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
    }
    .hamburger-menu-input:checked + header .hamburger-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        right: 4rem;
        top: 10rem;
        height: auto;
        width: calc(100vw - 8rem);
        background-color: var(--color-secondary);
    }
    .hamburger-menu-input:checked + header .hamburger-links + .header-logo, .hamburger-menu-input:checked + header .hamburger-links + .header-logo + #day-night-toggle {
        opacity: 0;
    }
    .hamburger-menu-input:checked + header + .hero-background-image, .hamburger-menu-input:checked + header + .hero-background-image + .hero-background-gradient, .hamburger-menu-input:checked + header + .hero-background-image + .hero-background-gradient + .hero, .hamburger-menu-input:checked + header + .hero-background-image + .hero-background-gradient + .hero + .belowthefold, .hamburger-menu-input:checked + header + .hero-background-image + .hero-background-gradient + .hero + .belowthefold + footer {
        display: none;
    }
}