#btf-mpp {
    --color-case-study: #879DFF;
}

#btf-mpp #content-problem {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
}

#btf-mpp #content-problem .text .text-desc-2col {
    margin: 0;
}

#btf-mpp #content-research {
    grid-template-areas: ". text numbers .";
}

#btf-mpp #text-research {
    grid-area: text;
}

#btf-mpp #numbers-research {
    grid-area: numbers;
}

#btf-mpp #content-problem {
    background-color: var(--color-case-study);
}

#btf-mpp #content-def {
    grid-template-areas: ". pic text .";
    background-color: var(--color-case-study);
}

#btf-mpp #img-def {
    width: 40rem;
    height: 30rem;
    background-image: url(../../../../images/casestudyimages/mpp/empathymap.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#btf-mpp #text-def {
    grid-area: text;
}

#btf-mpp #subhead-ui, #btf-mpp #subhead-ps {
    margin: 0;
    margin-top: 2rem;
}

#btf-mpp #img-idea {
    width: 40rem;
    height: 30rem;
    background-image: url(../../../../images/casestudyimages/mpp/userjourney.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#btf-mpp #subhead-vp {
    margin: 0;
    margin-top: 2rem;
}

#btf-mpp #content-wireframing {
    grid-template-areas: ". pic text .";
    background-color: var(--color-case-study);
}

#btf-mpp #img-wireframing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50rem;
    width: auto;
}

#btf-mpp #content-testing {
    grid-template-areas: ". text pic .";
}

#btf-mpp #img-testing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50rem;
}

#btf-mpp #content-textonly-final {
    background-color: var(--color-case-study);
}

@media only screen and (max-width: 1200px) {
    #btf-mpp #content-research {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: "text numbers";
        grid-column-gap: 6rem;
        max-width: 50rem;
        align-self: center;
    }
    #btf-mpp #content-def, #btf-mpp #content-idea, #btf-mpp #content-wireframing, #btf-mpp #content-testing {
        grid-template-areas: "pic"
                             "text";
    }
}

@media only screen and (max-width: 700px) {
    #btf-mpp #content-research {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 0rem;
        grid-row-gap: 4rem;
        grid-template-areas: "numbers"
                             "text";
    }
    #btf-mpp #img-def, #btf-mpp #img-idea {
        height: 16rem;
        width: 20rem;
    }
}