
#section-languages {
    grid-area: languages;
}

#languages-js-level {
    width: 15rem;
}

#languages-java-level {
    width: 11rem;
}

#languages-python-level {
    width: 12rem;
}

#languages-css-level {
    width: 14rem;
}

#languages-html-level {
    width: 13rem;
}
