
:root {
    --color-primary: #101820;
    --color-secondary: #FFFFFF;
    --color-accent: #FEE715;
}

.hero {
    width: 100vw;
}

.hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 100rem;
    margin: 2rem auto;
}

.hero-title {
    color: var(--color-secondary);
    margin: 0;
    text-align: center;
}