
.about-btf {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-btf-container {
    max-width: 100rem;
    width: 90vw;
    display: grid;
    padding: 4rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
                         "eduexpdesc experience edu"
                         "languages langframedesc frameworks"
                         "tech platforms techplatdesc"
                         "tools uxdesc uxskills";
    grid-row-gap: 6rem;
    grid-column-gap: 4rem;
    justify-items: center;
    align-items: flex-start;
}

@media only screen and (max-width: 1100px) {
    .about-btf-container {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                             "edu experience"
                             "eduexpdesc eduexpdesc"
                             "languages frameworks"
                             "langframedesc langframedesc"
                             "tech platforms"
                             "techplatdesc techplatdesc"
                             "tools uxskills"
                             "uxdesc uxdesc";
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .about-btf-container {
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
                             "eduexpdesc"
                             "edu"
                             "experience"
                             "langframedesc"
                             "languages"
                             "frameworks"
                             "techplatdesc"
                             "tech"
                             "platforms"
                             "uxdesc"
                             "tools"
                             "uxskills";
        grid-row-gap: 4rem;
    }
}