
#content-problem {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
}

#content-problem .text .text-desc-2col {
    margin: 0;
}

#content-research {
    grid-template-areas: ". text numbers .";
}

#text-research {
    grid-area: text;
}

#numbers-research {
    grid-area: numbers;
}

#content-problem {
    background-color: var(--color-case-study);
}

#content-def {
    grid-template-areas: ". pic text .";
    background-color: var(--color-case-study);
}

#img-def {
    width: 40rem;
    height: 30rem;
    background-image: url(../../../../images/casestudyimages/mpp/empathymap.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#text-def {
    grid-area: text;
}

#subhead-ui, #subhead-ps {
    margin: 0;
    margin-top: 2rem;
}

#img-idea {
    width: 40rem;
    height: 30rem;
    background-image: url(../../../../images/casestudyimages/mpp/userjourney.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#subhead-vp {
    margin: 0;
    margin-top: 2rem;
}

#content-wireframing {
    grid-template-areas: ". pic text .";
    background-color: var(--color-case-study);
}

#img-wireframing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50rem;
    width: auto;
}

#content-testing {
    grid-template-areas: ". text pic .";
}

#img-testing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50rem;
}

#content-textonly-final {
    background-color: var(--color-case-study);
}

@media only screen and (max-width: 1200px) {
    #content-research {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: "text numbers";
        grid-column-gap: 6rem;
        max-width: 50rem;
        align-self: center;
    }
    #content-def, #content-idea, #content-wireframing, #content-testing {
        grid-template-areas: "pic"
                             "text";
    }
}

@media only screen and (max-width: 700px) {
    #content-research {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 0rem;
        grid-row-gap: 4rem;
        grid-template-areas: "numbers"
                             "text";
    }
    #img-def, #img-idea {
        height: 16rem;
        width: 20rem;
    }
}