
#hero-mpp-title-back {
    width: 22rem;
}

#mockup-left {
    grid-area: mockup-left;
    background-image: url(../../../../images/mockups/mpp2.png);
}

#mockup-right {
    grid-area: mockup-right;
    background-image: url(../../../../images/mockups/mpp1.png);
}