
#section-skills {
    grid-area: uxskills;
}

#skills-research-img {
    filter: invert(1.0);
}

#skills-sketching-img {
    filter: invert(1.0);
}

#skills-prototyping-img {
    filter: invert(1.0);
}

#skills-testing-img {
    filter: invert(1.0);
}

#skills-wireframing-img {
    filter: invert(1.0);
}

#skills-ixd-img {
    filter: invert(1.0);
}

#skills-infoarch-img {
    filter: invert(1.0);
}

#skills-uid-img {
    filter: invert(1.0);
}

#skills-branding-img {
    filter: invert(1.0);
}