#hero-dhs-title-back {
    width: 14rem;
}

#mockup-left {
    grid-area: mockup-left;
    background-image: url(../../../../images/mockups/dhs2.png);
}

#mockup-right {
    grid-area: mockup-right;
    background-image: url(../../../../images/mockups/dhs1.png);
}