

#section-eduexpdesc {
    grid-area: eduexpdesc;
}

#section-techplatdesc {
    grid-area: techplatdesc;
}

#section-uxdesc {
    grid-area: uxdesc;
}

#section-langframedesc {
    grid-area: langframedesc;
}