
.experience {
    grid-area: experience;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "exp-header"
                         "exp-content";
    grid-row-gap: 4rem;
}

.exp-header {
    margin: 0;
    color: var(--color-secondary)
}

.exp-content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "casestudies programming";
}

#casestudies {
    grid-area: casestudies;
}

#programming {
    grid-area: programming;
}

.exp-div {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "exp-img"
                         "exp-desc";
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.exp-img {
    grid-area: exp-img;
    width: 8rem;
    align-self: center;
    filter: invert(1.0) opacity(0.15);
}

.exp-num {
    grid-area: exp-img;
    margin: 0;
    color: var(--color-secondary);
}

.exp-desc {
    grid-area: exp-desc;
    color: var(--color-secondary);
}
