
#hero-dhs {
    background-image: url(../../../../images/casestudycovers/dhscover.png);
}

#hero-dhs-title-back {
    width: 14rem;
}

@media only screen and (max-width: 600px) {
    #hero-dhs-title {
        align-self: flex-start;
        margin-top: 4.5rem;
    }
    #hero-dhs-title-back {
        align-self: flex-start;
        margin: 3rem;
    }
}